* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  line-height: 1.9rem;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  color: $textColor;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

.container {
  margin-top: $headerHeight;
  padding-bottom: 20px;
  background-color: $containerColor;
}

.home-content {
  display: flex;
  flex-direction: column;
  margin: 0 calc(((100vw + 80px) / 5) + 8px);
}

.poisition-relative {
  position: relative;
}

.hide-on-pc {
  display: none;
}

.app {
  overflow: hidden;
}
