$whiteColor: #fff;
$blackColor: #000;
$textColor: #050505;
$containerColor: #f0f2f5;
$hoverColor: rgba(0, 0, 0, 0.05);
$scrollbarColor: #c1c1c1;
$borderColor: #ced0d4;

$headerHeight: 56px;
$heightStoryUserImage: 150px;
$heightStoryImage: 200px;
$boxShadow: 0 1px 2px rgb(0 0 0 / 20%);
